
  </div>


  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-us.png" alt="" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About the conference 
              </h2>
            </div>
            <p>
			  Nullconf is a free technical conference related mainly to Free or Open Source Software projects  <br />
			  The idea behind the conference is to assist the Montreal IT community in learning new an interesting technology.
			  Create a venew where we can share ideas and discuss projects. 
			  The conference will have 3 tracks:
			  * Advanced technical - covering technical topics that require more discussion
			  * Technical - improvements, features and implementation of projects
			  * Community - focusing on community projects

			  You would have the ability to attend both talks and workshops.

			  We plan on having workshops during the whole year, prior the conference.
            </p>
            <div class="heading_container">
              <h2>
                Who are we
              </h2>
            </div>
            <p>* Marian Marinov - system administrator by heart, DevOps by trade and conference organizer by fate <br />
				Marian has been assisting with the biggest FOSS conference in Bulgaria - <a class=no_link href="http://openfest.org">OpenFest</a> since 2004 and have organized a lot events since then. He has moved to Montreal in 2022 and is bringing his community building ideas with him, here. </p>
			<p> * Antonio Lobo - A dynamic SysAdmin DevOps, passionate about sharing knowledge and sparking dialogues. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


