    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail_box">
                    <h1>
                      Dev, SysAdmin, DevOps <br>
                      Cloud - <span>technology</span>
                    </h1>
                    <p>
                      The event that brings back the tech front and center.
					  <b>15.Sep.2023</b>
                    </p>
                    <a href="https://forms.gle/kCXcEH4NPVQNw4KC8" class="">
                      Propose a talk
                    </a>
                  </div>
                </div>
                <div class="col-md-5 offset-md-1">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail_box">
                    <h1>
                      <span>Workshops</span>
                    </h1>
                    <p>
						Hands-on workshops will allow you to learn interesting technology in the span of a day,
						and share your experience with other participants from the tech community of Montreal.
                    </p>
                    <a href="workshops.html" class="">
                      Read More
                    </a>
                  </div>
                </div>
                <div class="col-md-5 offset-md-1">
                  <div class="img-box">
                    <img src="images/workshop.png" alt="Workshops">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail_box">
                    <h1>
                      <span>Lectures</span>
                    </h1>
                    <p>
						Share your experience or learn about new and exciting technology.
                    </p>
                    <a href="talks.html" class="">
                      Read More
                    </a>
                  </div>
                </div>
                <div class="col-md-5 offset-md-1">
                  <div class="img-box">
                    <img src="images/lectures.png" alt="Lectures and Presentations">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- speaker section -->
  <section class="speaker_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/pacman.png" alt="" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Speakers
              </h2>
            </div>
            <p>
				<div class="speaker">
				<img src="images/speakers/paul.jpg">
				<div>
				<p class="speaker_name">Paul E. McKenney</p>
				<p class="speaker_info">Author of "Is Parallel Programming Hard, And If So, What Can You Do About It?" and maintainer of the Linux Kernel Memory Manager subsystem</p>
			    </div>
				</div>
				<div class="speaker">
				<img src="images/speakers/steven.jpg">
				<p class="speaker_name">Steven Rosted</p>
				<p class="speaker_info">Author and maintainer of the ftrace subsystem in the Linux Kernel</p>
				</div>
				<div class="speaker">
				<img src="images/speakers/mm.jpg">
				<p class="speaker_name">Marian Marinov</p>
				<p class="speaker_info">Director of DevOps at Web Hosting Canada</p>
				</div>
            </p>
			<br />
			<br />
            <a href="topics.html">
              Checkout the rest of the program
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end speaker section -->
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-us.png" alt="" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Nullconf is a free technical conference related mainly to Free or Open Source Software projects  <br />
              The idea behind the conference is to assist the Montreal IT community in learning new and interesting technology.
              Create a venue where we can share ideas and discuss projects.
            </p>
            <a href="about.html" class="button">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->




  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Lectures
        </h2>
        <p>
          We will provide access to all recordings of all lectures from our events.<br />
          You would also be able to propose and vote for other talks.
        </p>
      </div>

      <div class="btn-box">
        <a href="program.html">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end portfolio section -->

