
  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Call for Speakers
        </h2>
		We are welcoming all speakers that want to share with us a FOSS project, technical project involving FOSS technology or an interesing way of using a FOSS project.
      <div class="btn-box">
        <a href="https://forms.gle/kCXcEH4NPVQNw4KC8">
          Submit a proposal
        </a>
      </div>
      </div>
	  <br />
	  <br />
      <div class="heading_container">
        <h2>
          Expected schedule
        </h2>
		<table>
		<tr>
			<th>Time Slot</th>
			<th>Title</th>
		</tr>
		<tr>
			<td class="time-slot">09:25 - 09:30</td>
			<td>Welcome</td>
		</tr>
		<tr>
			<td class="time-slot">09:30 - 10:15</td>
			<td>Paul E. McKenny - TBA</td>
		</tr>
		<tr>
			<td class="time-slot">10:30 - 11:15</td>
			<td> TBA </td>
		</tr>
		<tr>
			<td class="time-slot">11:30 - 12:15</td>
			<td> TBA </td>
		</tr>
		<tr>
			<td class="time-slot">13:30 - 14:15</td>
			<td> TBA </td>
		</tr>
		<tr>
			<td class="time-slot">14:30 - 15:15</td>
			<td> Steven Rosted - TBA</td>
		</tr>
		<tr>
			<td class="time-slot">15:30 - 16:15</td>
			<td> TBA </td>
		</tr>
		<tr>
			<td class="time-slot">16:30 - 17:30</td>
			<td> Lightning talks </td>
		</tr>
		</table>
	  </div>
	  <br />
      <div class="heading_container">
        <h2>
          Past talks
        </h2>
        <p>
          We will provide access to all recordings of all lectures from our events.<br />
		  You would also be able to propose and vote for other talks.
        </p>
      </div>

      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-1.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-2.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-3.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-4.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-5.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-6.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end portfolio section -->
