
  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Lectures
        </h2>
        <p>
          We will provide access to all recordings of all lectures from our events.<br />
		  You would also be able to propose and vote for other talks.
        </p>
      </div>

      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-1.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-2.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-3.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-4.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-5.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="img-box">
              <img src="images/p-6.jpg" alt="">
              <a href="">
                <img src="images/link.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end portfolio section -->
